<%layout('/partials/boilerplate')%>
<form action="/forgot-password" method="POST">
		<div class="form-group row">
			<label for="a" class="col-sm-2 col-form-label">Email</label>
			<input type="text" name="email" class="form-control col-sm-8" id="a">
		</div>
		<button class="btn btn-outline-primary">submit</button>

</form>